"*":
  "Remote-FTP":
    showViewOnStartup: false
  "atom-beautify":
    general:
      _analyticsUserId: "341d26aa-d0aa-4992-aa5f-9f80c4cb2802"
    php: {}
  "atom-material-ui":
    colors:
      abaseColor: "#403f3a"
      accentColor: "#dcd8d0"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "base16-syntax": {}
  core:
    disabledPackages: [
      "remote-sync"
      "language-javascript-jsx"
      "atom-beautify"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
    warnOnLargeFileLimit: 1
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    extend_double_slash: false
  editor:
    fontFamily: "ubuntu mono"
    fontSize: 12
    lineHeight: 1
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "b0562c41-5160-42cd-b152-e96a2623aee6"
  "file-icons": {}
  minimap:
    absoluteMode: true
    charHeight: 1
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "minimap-git-diff":
    useGutterDecoration: true
  pigments:
    markerType: "background"
  "seti-syntax":
    dynamicColor: false
    themeColor: "Pink"
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "libs"
    ]
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
